# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 2 spaces indentation
[*.js]
indent_style = space
indent_size = 2
[*.ts]
indent_style = space
indent_size = 2

# Tab indentation (for YAML files)
[*.yaml]
indent_style = tab

# Change these settings according to your IDE/editor preference
# Visual Studio Code settings
[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Matches the exact files either named `.editorconfig` or `.prettierrc`
[*.{js,jsx,ts,tsx,json,yml,yaml}]
charset = utf-8
